<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP | Language Detection</title>
</head>
<body>

    <h1>NLP App</h1>

    <h3>Language Detection</h3>

   
    <form action="/perform_langdetect" method="post">
        <label>Enter Your Text Here</label><br>
        <textarea name="langdetect_text"></textarea><br><br>
        <input type="submit" value="Language Detection">
        
       
    </form>

    

    {% if response %}
        <p>Detected Language: {{ response }}</p>
    {% else %}
        <p>No language detected.</p>
    {% endif %}

    <br>
    <form action="/profile">
        <input type="submit" value="Home">
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>


    

</body>
</html>